/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
body {font: 14px/21px "Microsoft YaHei"; }
.container h2, .container label {font-family: "Microsoft YaHei"}
.form_hint, .required_notification {font-size: 11px;}

.container {
	position: relative;
	left: 20%;
    width:400px;
	margin:0;
	display: inline;
	border-bottom:1px solid #777;
}

.headbar {
     background-color:#592;
     text-align:center;
     width:100%;
     top:0;
     left:0;
     padding:5px 0;
}

.container .title {
    width:400px;
	position:relative;
	border-bottom:1px solid #777;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}

.headbar a {
    color:#FFF;
    text-decoration:none;
    font-size:16px;
    font-weight:bolder;
    line-height:24px;
}

/* === List Styles === */
.container ul {
    width:400px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.container li {
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 
.container li:last-child {
	border-bottom:1px solid #777;
}

.required_notification {
	color:#d45252; 
	margin:-24px 0 0 0;
	display:inline;
	float:right;
}

/* === Form Elements === */
.container label {
	width:80px;
	display:inline-block;
	float:left;
}

.container input {
	height:20px; 
	width:240px;
	margin-top:-10px;
	padding:5px 8px;
	font: 10px "Microsoft YaHei";
}

.container textarea {padding:8px; width:240px; font: 8px "Microsoft YaHei";
}
.container select {
	font: 10px "Microsoft YaHei";
	padding:8px;
	width:260px;
	margin-top:-10px;
}

button {
    text-align:center;
	font: 14px "Microsoft YaHei";
	width:100%
}

/* form element visual styles */
.container span {
    padding-right:10px;
}

.container .desc {
	font-size:6px;
}
/* form element visual styles */
.container input, .container textarea, .container select {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right:10px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.container input:focus, .container textarea:focus, .container select:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:30px;
}

/* === HTML5 validation styles === */	
.container input:required, .container textarea:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.container input:required:valid, .container textarea:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.container input:focus:invalid, .container textarea:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.container input:focus + .form_hint {display: inline;}
.container input:required:valid + .form_hint {background: #28921f;}
.container input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Button Style === */
.btn {
	background-color: #68b12f;
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -2px 0 #396715;
}
.btn:hover {
	opacity:.85;
	cursor: pointer; 
}
.btn:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
}

.entry {
	background-color: #F8F9F7;
	border: 1px solid #F6F7F3;
	border-bottom: 1px solid #F6F7F3;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: #590;
	text-align: center;
	text-shadow: 0 -1px 0 #D8D9D7;
}

.entry:hover {
	background-color: #CEA;
	opacity:.85;
	cursor: pointer;
}

.entry:active {
	border: 1px solid #20911e;
	background-color: #FDFEFC;
}
